<!doctype html>
<title>SuperTPV Branch Server</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1><a href="{{ url_for('index.home') }}">SuperTPV Branch Server</a></h1>
  <br />
  <a href="{{ url_for('cashiers.home') }}">Cajeros</a> - 
  <a href="{{ url_for('products.home') }}">Productos</a> - 
  <a href="{{ url_for('index.home') }}">Descuentos</a> - 
  <a href="{{ url_for('config.home') }}">Reportes</a>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('admin.login') }}">Entrar</a>
  {% else %}
    <a href="{{ url_for('config.home') }}">Configuracion</a> -
    <a href="{{ url_for('admin.logout') }}">Salir</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}

  {% endblock %}
</div>